Flask_Login==0.6.3
Werkzeug==3.0.0
Flask==3.0.0
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.25
pip~=23.2.1
wheel~=0.41.2
MarkupSafe~=3.0.2
click~=8.1.7
jinja2~=3.1.4
blinker~=1.8.2
itsdangerous~=2.2.0
certifi~=2024.8.30
urllib3~=2.2.3
greenlet~=3.1.1
idna~=3.10
charset-normalizer~=3.4.0
setuptools~=68.2.0
importlib-metadata~=8.5.0
zipp~=3.20.2
requests~=2.32.3
Flask-Login~=0.6.3