<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Football Insights</h1></div>
    </div>

    <form action="/teams" method="post">
<select name="teamlist">
  <option value= "{{team}}" SELECTED>{{ team }}</option>"
  {% for team in all_teams[1:] %}
    <option value="{{team}}">{{team}}</option>
  {% endfor %}
</select>
        <button type="submit">Ok</button>

<div>
{% block body %}
        {# NOTE - loop through a dictionary's key and values with .iteritems #}
	{% for team,results in form.items() %}
                {# NOTE - display the nut's name and the taste #}
		{{ team }} = {{ results }}<br>
	{% endfor %}
{% endblock %}
</div>

    {% for post in all_posts: %}
    <div class="content">
        <div class="card ">
            <h2>{{ post }}</h2>
            <p></p>
        </div>
{% endfor %}

    </div>

    </form>
</body>
</html>






